<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/web/components/header.css">
</head>
<body>
    <header class="header">
      <div class="left-group">
       <div class="header-inner">
        <!-- 로고 -->
        <h1 class="logo">
          <a href="#">
            <img src="/web/assets/images/Logo-jadu-lg.png" alt="ZADU 로고" />
          </a>
        </h1>

        <!-- 검색창 -->
        <form class="search-form" action="#" method="get">
          <input
            type="text"
            name="q"
            placeholder="상품을 검색해보세요!"
            aria-label="상품 검색"/>
          </button>
          <button type="submit" class="search-btn" aria-label="검색">
            <svg class="icon icon-search" viewBox="0 0 28 28">
              <use href="../assets/icons/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </form>


        <!-- 아이콘 영역 -->
        <nav class="icon-group" aria-label="유틸 메뉴">
          <a href="#" class="icon-item" aria-label="장바구니">
            <svg class="icon icon-cart" viewBox="0 0 32 32">
              <use href="../assets/icons/sprite.svg#icon-cart"></use>
            </svg>
            <span>장바구니</span>
          </a>

          <a href="#" class="icon-item" aria-label="마이페이지">
            <svg class="icon icon-user" viewBox="0 0 32 32">
              <use href="../assets/icons/sprite.svg#icon-user"></use>
            </svg>
            <span>마이페이지</span>
          </a>
        </nav>
      </div>
    </header>
</body>
</html>